{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'core'%}/static/fonts/Material-Design-Iconic-Font.eot">
    <link rel="stylesheet" href="{% static 'core'%}/static/fonts/Material-Design-Iconic-Font.svg">
    <link rel="stylesheet" href="{% static 'core'%}/static/fonts/Material-Design-Iconic-Font.ttf">
    <link rel="stylesheet" href="{% static 'core'%}/static/fonts/Material-Design-Iconic-Font.woff">
    <link rel="stylesheet" href="{% static 'core'%}/static/fonts/Material-Design-Iconic-Font.woff2">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'core'%}/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'core'%}/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core'%}/css/estilo.css" >
  </head>
  <body>
    
    <!-- <nav class="nav justify-content-center">
      <a class="nav-link active" href={% url 'home' %}>Home</a>
      {% if user.is_authenticated %}
      <a class="nav-link active" href={% url 'agregar_productos' %}>+ Agregar productos</a>
      <a class="nav-link active" href={% url 'catalogo_productor' %}>Ver mi catalogo</a>
      <a class="nav-link active" href={% url 'logout' %}><i class="fa-solid fa-circle-plus"></i> Cerrar sesion</a>
      <li class="nav-item">
        <a class="nav-link disabled">Bienvenid@, {{user.username}}</a>
      </li>
      {% else %}
      <a class="nav-link" href={% url 'register' %}>Registrarse</a>
      <a class="nav-link" href={% url 'login' %}>Iniciar sesion</a>
      {% endif %}
    </nav> -->
    <header>
      <nav class="navbar-top">
          <ul class="navbar-top-ul">
            <li class="navbar-top-item">
              {% if user.is_authenticated %}
                <a class="navbar-top-links" href={% url 'agregar_productos' %}><i class="zmdi zmdi-plus-circle-o"></i> Agregar productos</a>
                
            </li>
            <li class="navbar-top-items"><a class="navbar-top-links" href={% url 'agregar_tarifa' %}><i class="zmdi zmdi-plus-circle-o"></i> Agregar tarifa</a></li>
            <li class="navbar-top-item">
              <a class="navbar-top-links" href={% url 'catalogo_productor' %}><i class="zmdi zmdi-eye"></i> Ver mi catalogo</a>
            </li>
            <li class="navbar-top-item">
              <a class="navbar-top-links" href={% url 'logout' %}><i class="zmdi zmdi-power"></i> Cerrar sesion</a>
            </li>
            <li class="navbar-top-item">
              <a href="#" class="navbar-top-links"><i class="zmdi zmdi-account-box"></i> Bienvenid@, {{user.username}}</a>
            </li>
            {% else %}
              <li class="navbar-top-item">
                  <a href={% url 'register' %} class="navbar-top-links">Registrarse</a>
              </li>
              <li class="navbar-top-item">
                  <a href={% url 'login' %} class="navbar-top-links">Iniciar sesión</a>
              </li>
              {% endif %}
              <li class="navbar-top-item">
                  <a href="#" class="navbar-top-links">
                      <i class="zmdi zmdi-shopping-cart"></i> Carrito
                      <!-- <i class="zmdi zmdi-chevron-down"></i> -->
                  </a>
              </li>

              
              
          </ul>
      </nav>
      <nav class="navbar">
          <header class="nabvar-mobile is-size-5-mobile">
              <a class="navbar-mobile-link has-text-white" href="#" id="btn-mobile"><i class="zmdi zmdi-menu"></i></a>
              <a class="navbar-mobile-link has-text-white" href={% url 'home' %}>Catálogo de frutas y verduras</a>
              <a class="navbar-mobile-link has-text-white" href="#"><i class="zmdi zmdi-shopping-cart"></i> Vacio</a>
          </header>
          <nav class="nav-menu" id="mySidenav">
              <form class="form-group " action="#">
                  <div class="form-group-container">
                      <span class="form-group-icon"><i class="zmdi zmdi-search"></i></span>
                      <input type="text" class="form-group-input" placeholder="Buscar...">
                  </div>
              </form>

              <a class="is-hidden-mobile brand is-uppercase has-text-weight-bold has-text-dark" href={% url 'home' %}><i class="zmdi zmdi-home"></i> INICIO</a>
              <ul class="nav-menu-ul">
                  <li class="nav-menu-item" id="men">
                      <a class="nav-menu-link link-submenu active" href="#">Verduras <i
                              class="zmdi zmdi-chevron-down"></i></a>
                      <div class="container-sub-menu">
                          <ul class="sub-menu-ul">
                              <li class="nav-menu-item ">
                                  <a class="nav-menu-link" href="#">
                                      <strong>Todas las  verduras</strong>
                                      <i class="zmdi zmdi-chevron-down "></i>
                                  </a>
                                  <ul class="sub-menu-ul">
                                      <li class="nav-menu-item"><a class="nav-menu-link" href="#"></a></li>
                                      <li class="nav-menu-item"><a class="nav-menu-link" href="#"></a>
                                      </li>
                                      <li class="nav-menu-item"><a class="nav-menu-link" href="#"></a></li>
                                      <li class="nav-menu-item"><a class="nav-menu-link" href="#"></a></li>
                                  </ul>
                              </li>
                          </ul>
                          <ul class="sub-menu-ul">
                              <li class="nav-menu-item"><a class="nav-menu-link" href="#">
                                      <strong>Verduras de estación</strong>
                                      <i class="zmdi zmdi-chevron-down "></i>
                                  </a>
                                  <ul class="sub-menu-ul">
                                      <li class="nav-menu-item"><a class="nav-menu-link" href="#"></a></li>
                                      <li class="nav-menu-item"><a class="nav-menu-link" href="#"></a></li>
                                      <li class="nav-menu-item"><a class="nav-menu-link" href="#"></a></li>
                                      <li class="nav-menu-item"><a class="nav-menu-link" href="#"></a></li>
                                  </ul>
                              </li>
                          </ul>
                      </div>
                  </li>
                  <li class="nav-menu-item" id="women">
                      <a href="#" class="nav-menu-link link-submenu">Frutas <i class="zmdi zmdi-chevron-down"></i> </a>
                      <div class="container-sub-menu"> 

                          <ul class="sub-menu-ul">
                              <li class="nav-menu-item ">
                                  <a class="nav-menu-link" href="#">
                                      <strong>Todas las frutas</strong>
                                      <i class="zmdi zmdi-chevron-down "></i>
                                  </a>
                                  <ul class="sub-menu-ul">
                                      <li class="nav-menu-item"><a class="nav-menu-link" href="#"></a></li>
                                      <li class="nav-menu-item"><a class="nav-menu-link" href="#"></a>
                                      </li>
                                      <li class="nav-menu-item"><a class="nav-menu-link" href="#"></a></li>
                                      <li class="nav-menu-item"><a class="nav-menu-link" href="#"></a></li>
                                  </ul>
                              </li>
                          </ul>
                          <ul class="sub-menu-ul">
                              <li class="nav-menu-item"><a class="nav-menu-link" href="#">
                                      <strong>Frutas de estación</strong>
                                      <i class="zmdi zmdi-chevron-down "></i>
                                  </a>
                                  <ul class="sub-menu-ul">
                                      <li class="nav-menu-item"><a class="nav-menu-link" href="#"></a></li>
                                      <li class="nav-menu-item"><a class="nav-menu-link" href="#"></a></li>
                                      <li class="nav-menu-item"><a class="nav-menu-link" href="#"></a></li>
                                      <li class="nav-menu-item"><a class="nav-menu-link" href="#"></a></li>
                                  </ul>
                              </li>
                          </ul>
                      </div> 
                  </li>
              </ul>
          </nav>
      </nav>
  </header>



 
    {% block header %}
    


    {% endblock header %}
    <footer class="footer">
      <div class="container">
          <div class="columns is-multiline">
              <div class="column">
              <div class="column is-full">
                  <div class="footer-socials">
                      <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-facebook"></i></a>
                      <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-twitter"></i></a>
                      <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-instagram"></i></a>
                      <a class="footer-solcials-link" href="#"><i class="zmdi zmdi-pinterest"></i></a>
                  </div>
              </div>
          </div>
      </div>
    </footer>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'core'%}/static/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
