{% extends 'AEPDE_APP/base.html' %}
{% load static %}
{% block header %}
 
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <p>Descripcion:&nbsp;{{obj.descripcion}}</p>
            <p>Tipo:&nbsp;{{obj.get_tipo_display}}</p>
            <p>Precio/kg:&nbsp;{{obj.precio}}</p>
            <p>Stock:&nbsp;{{obj.stock}}</p>   
            <p>Fecha de produccion:&nbsp;{{obj.fecha_produccion}}</p>
            <p>Fecha de vencimiento:&nbsp;{{obj.fecha_vencimiento_prod}}</p>
            <p>Correo contacto:&nbsp;{{ productor.correo_contacto }}</p>
            <p>Telefono contacto:&nbsp;{{ productor.telefono_contacto }}</p>
            <p>Ubicación:&nbsp;{{ sucursal.direccion }}</p>
            {% if request.user.is_authenticated %}
            <form method="post" action="{% url 'agregar_favorito' obj.codigo %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Agregar a favoritos</button>
            </form>
            {% endif %}
            
        
        </div>
    </div>
</div>
 
 
 
 
{% endblock header %}






 